body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-left: 200px;
    padding-right: 200px;
    height: 90vh;
}

.header {
    font-size: 40px;
    margin-bottom: 150px;
    flex: 0 1 auto;
    text-align: center;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 150px;
}

.content .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    flex: 1 1 auto;
    padding-left: 50px;
    padding-right: 50px;
    gap: 100px;
}

.content .grid {
    display: grid;
    padding: 30px;
    width: 600px;
    height: 600px;
    flex: 0 0 auto;
}

.content .cell {
    border: 2px;
    border-color: gray;
    border-style: solid;
}

.content .cell.invisibleBorders {
    border-style: hidden;
}

button {
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 700;
}

.reset {
    background-color:cornflowerblue;
    color:black;
}

.number-of-squares {
    background-color:steelblue;
    color: black;
}

.borders {
    background-color: skyblue;
    color: black;
}

.content .panel .choose-color {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
}

.content .panel .choose-color input {
    border-radius: 40px;
    height: 50px;
    width: 50px;
    flex: 1 1 auto;
    border-style: solid;
    border-width: 30px;
    border-color: black;
    background-color: black;
    padding: 0;
}

.content .panel .choose-color button {
    background-color: palevioletred;
}

.content .panel .anarchy {
    color:springgreen;
    background-color: red;
}

.invisibleButton {
    display: none;
}
